<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="style.css">
    <link rel="icon" type="image/x-icon" href="images/ember_logo.png">
</head>
<body>
    <nav>
        <ul>
          <li id = "logo"><a href="/home"><img src="images/ember_logo.png" alt = "logo" class="logo"></a></li>
          <li><a href="/home">Home</a></li>
          <li><a href="/leaderboard">Leaderboard</a></li>
          <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
    <main>
        <header>
            <h1>Welcome to HackSheffield 2024</h1>
        </header>
        <main>
            <p>This is the home page for HackSheffield 2024. Stay tuned for more updates!</p>
        </main>
        <footer>
            <p>&copy; 2024 HackSheffield. All rights reserved.</p>
        </footer>
    </main>
</body>
</html>